/*HEAD*/
*{
    margin:0;
    padding: 0;
}


body {
    background-color: rgba(245, 245, 245, 0.877);
    font-family:Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 80px;
    background-color: #197AD4;
    display: flex;
    transition: all 0.8s;
}

header > div {
    width: 50%;
}

.nombre_taller {
    align-items:center;
    justify-content: center;
    display: flex;
}

.nombre_taller h1 {
    font-weight: bold;
    color: whitesmoke;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 72px;
    margin-left: 80px;
}

.menu {
    width: 50px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    }

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 30px;
    margin-top: 20px;
}

nav > ul > li {
    display: inline;
    margin-left: 5px;

}



nav > ul > li > a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}
/*CARRUSEL NO SE Q
*/

#contenido {
    
    margin: 10px auto;
    min-height: 100vh;
} 

.carousel .carousel-inner .carousel-item img {
    height: auto;
    width: 80%;
    background-image: none;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
    color: white;
}
/*FIN CARRUSEL*/

#contenido {
    width: 80%;
    margin: 10px auto;
    min-height: 100vh;
} 

.productos {
    display: flex;
    flex-wrap: wrap;
}

.productos .producto {
    width: 100%;
    padding: 10px
}

.productos .izquierda {
    float: left;
    margin-right: 15px;
    height: 120px;
    object-fit: cover;   
}
/* GALERIA JJUUJ*/

.galeria_atenciones{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones2{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones3{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones4{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}

.galeria_atenciones .izquierda2 {
    float: left;
    margin-right: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover;
}

.galeria_atenciones2 .derecha {
    float: right;
    margin-left: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover; 
}
.galeria_atenciones3 .izquierda3 {
    float: left;
    margin-right: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover;
}

.galeria_atenciones4 .derecha2 {
    float: right;
    margin-left: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover; 
}
/*Fin Galeria */

/* AUTOS DE LA GALERIA*/
.mazda_auto{
    width: 100%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
}
.mazda_auto .mazdatexto {
    float: left;
    margin-right: 15px;
    height: 70%;
    width: 60%;
    object-fit: cover;   
}
.chevrolet_auto {
    width: 100%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
}
.chevrolet_auto .chevrolettexto {
    float: left;
    margin-right: 15px;
    height: 70%;
    width: 60%;
    object-fit: cover; 
}
.ford_auto{
    width: 100%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
}

.ford_auto .fordtexto {
    float: left;
    margin-right: 15px;
    height: 70%;
    width: 60%;
    object-fit: cover; 
}
.raptor_auto {
    width: 100%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
}
.raptor_auto .raptortexto {
    float: left;
    margin-right: 15px;
    height: 70%;
    width: 60%;
    object-fit: cover; 
}

/*FIN AUTOS DE LA FALERIA*/
.productos .producto .contenedor {           
        margin: auto;
        background-color: #197AD4;
        color: #0D2E4F;
        padding: 15px;     
}

footer {
    height: 80px;
    background-color: #197AD4;
}

footer > .logo {
    display: flex;
    width: auto;
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}

footer > .logo img {
    width: 72px;
    height: 60px;
    margin-left: 3px;
}

/* Submenus */
.submenus {
    width: 100%;
    height: 300px;
    padding: .5%;
    margin-top: 10px;
    background-color: #197AD4;
}

.submenu_mecanicos {
    width: 49.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #333;
    float: left;
}

.plantilla1_mecanico {
    width: 100%;
    height: 33.3%;
    background-color: #197AD4;
    padding: 1%;
}

.plantilla1_mecanico img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    float: left;
}

.texto1_mec {
    display: inline-block;
    margin-left: 1%;
    width: 58%;
    height: 100%;
    padding: 1%;
    background-color: whitesmoke;
}

.boton1_mec {
    width: 20%;
    height: 100%;
    float: right;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: center;
}

.boton1_mec a {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0;
    padding-top: 25%;
}

.boton1_mec a:hover {
    background-color: white;
    color: #333;
}

.plantilla2_mecanico {
    width: 100%;
    height: 33.3%;
    background-color: #197AD4;
    padding: 1%;
}

.plantilla2_mecanico img {
    width: 20%;
    height: 100%;
    object-fit: cover;
    float: right;
}

.texto2_mec {
    display: inline-block;
    margin-left: 1%;
    width: 58%;
    height: 100%;
    padding: 1%;
    background-color: whitesmoke;
}

.boton2_mec {
    width: 20%;
    height: 100%;
    float: left;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    text-align: center;
}

.boton2_mec a {
    display: inline-block;
    height: 100%;
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 16px;
    margin: 0;
    padding-top: 25%;
}

.boton2_mec a:hover {
    background-color: white;
    color: #333;
}

.submenu_categorias {
    width: 49.5%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #333;
    float: right;
}

.categoria {
    width: 100%;
    height: 33.3%;
    background-color: #197AD4;
    padding: 1%;
    text-align: center;
}

.categoria a {
    display: inline-block;
    font-size: 30px;
    height: 100%;
    width: 100%;
    padding-top: 5%;
    background-color: #333;
    color: white;
}

.categoria a:hover {
    background-color: white;
    color: #333;
}

.menu {
    display: none;
}
/* Fin Sumbenus */

/* Inicio Sesion */
.img_mecanico_inic {
    height: 420px;
    width: 80%;
    top: 20%;
    left: 10%;
    position: absolute;
}
    
.img_mecanico_inic img {
    height: 94%;
    width: 63%;
    object-fit: cover;
}

.contenedor_iniciar_sesion {
    width: 22%;
    height: 60%;
    background: #197AD4;
    color: white;
    top: 20%;
    left: 62%;
    position: absolute;
    padding: 70px 30px;
    box-sizing: border-box;
}

.contenedor_iniciar_sesion img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.contenedor_iniciar_sesion h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    text-align: center;
    font-size: 30px;
}

.contenedor_iniciar_sesion label {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor_iniciar_sesion input {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.contenedor_iniciar_sesion input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px #0D2E4F;
    background: whitesmoke;
    outline: none;
    height: 30px;
}
/* Fin Iniciar Sesion *7

/* Registrarse */
.img_mecanico_reg {
    height: 60%;
    width: 48%;
    top: 20%;
    left: 34%;
    position: absolute;
}

.img_mecanico_reg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor_registrar {
    width: 22%;
    height: 60%;
    background: #197AD4;
    color: white;
    top: 20%;
    left: 10%;
    position: absolute;
    padding: 70px 30px;
}

.contenedor_registrar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.contenedor_registrar h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.contenedor_registrar label {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor_registrar input {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor_registrar input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px #0D2E4F;
    background: whitesmoke;
    outline: none;
    height: 30px;
}
/* Fin Regristrarse */

/* Inicio Buscador */
.titulo_buscador {
    text-align: center;
    font-weight: bold;
    padding: 1%;
    height: 8%;
    width: 100%;
    background-color: #197AD4;
    color: white;
}

.contenedor_buscador {
    background-color: #197AD4;
    height: 15%;
    width: 80%;
    margin-top: 4%;
    padding: 1%;
    position: absolute;
}

.sub_buscador {
    padding: 2%;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sub_buscador label {
    font-size: 100%;
    color: #333;
    height: 5%;
    width: 15%;
    text-align: center;
    display: inline-block;
}

.sub_buscador input[type="text"] {
    width: 65%;
    background: whitesmoke;
    border: none;
    border-bottom: 1px #0D2E4F;
    outline: none;
}

.sub_buscador input[type="submit"] {
    height: 100%;
    width: 15%;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    color: white;
}
/* Fin Buscador */

/* Inicio Categorias */
.titulo_categ {
    width: 100%;
    height: 10%;
    background-color: #197AD4;
    padding: 0%;
    margin: 0%;
}

.titulo_categ h2 {
    color: white;
    text-align: center;
    padding: 1%;
}

.contenedor_imagenes_categ{
    height: auto;
    width: 100%;
    background-color: #333;
    padding: .7%;
    padding-bottom: 0%;
    padding-right: 0%;
}

.contenedor_img_c {
    width: 19%;
    height: 100px;
    display: inline-block;
    background-color: white;
    margin-bottom: .7%;
    margin-right: .7%;
}

.contenedor_img_c img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Fin Categorias */

/* Inicio Mecanicos */
.titulo_mec {
    width: 100%;
    height: 10%;
    background-color: #197AD4;
    padding: 0%;
    margin: 0%;
}

.titulo_mec h2 {
    color: white;
    text-align: center;
    padding: 1%;
}

.contenedor_imagenes_mec{
    height: auto;
    width: 100%;
    background-color: #333;
    padding: .7%;
    padding-bottom: 0%;
    padding-right: 0%;
}

.contenedor_img_m {
    width: 19%;
    height: 100px;
    display: inline-block;
    background-color: white;
    margin-bottom: .7%;
    margin-right: .7%;
}

.contenedor_img_m img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Fin Mecanicos */


/*MEDIA QUERIES*/

@media (max-width: 1024px) {

    .productos .producto {
        width: 100%;
        
    }

    .nombre_taller {
        display: none;
    }

    header {
        height: auto;
    }

    .contenedor_iniciar_sesion {
        width: 80%;
        left: 12%;
        top: 30%;
    }
    
    .img_mecanico_inic {
        width: 0%;
    }

    .contenedor_registrar {
        width: 80%;
        left: 12%;
        top: 30%;
    }

    .img_mecanico_reg {
        width: 0%;
    }

    .submenu_mecanicos {
        width: 100%;
        height: 50%;
    }

    .submenu_categorias {
        width: 100%;
        height: 50%;
    }

    .submenus {
        height: 600px;
    }
}

@media (max-width: 480px) {

    .productos .producto {
        width: 100%;
    }

    .nombre_taller {
        display: none;
    }

    header {
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    header > div {
        width: 100%;
    }

    header .contenedor_logo {
        justify-content: center;
    }

    header .logo {
        margin-top: 10px;
    }

    .logo {
        margin-right: 70px;
    }

    nav {
        justify-content: center;
    }

    nav > ul {
        margin: 0;
    }

    nav > ul > li {
        display: block;
        padding: 1px;
        text-align: center;
    }

    .menu {
        display: block;
    }

    .contenedor_iniciar_sesion {
        width: 100%;
        left: 0%;
        top: 50%;
    }
    
    .img_mecanico_inic {
        width: 0%;
    }

    .contenedor_registrar {
        width: 100%;
        left: 0%;
        top: 50%;
    }

    .img_mecanico_reg {
        width: 0%;
    }
}

