/* Cambios Globales */
*{
    margin:0;
    padding: 0;
}

body {
    background-color: rgba(245, 245, 245, 0.877);
    font-family:Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}
/* Fin Cambios Globales



/* Header */
header {
    width: 100%;
    height: 80px;
    background-color: #197AD4;
    display: flex;
    transition: all 0.8s;
}

header > div {
    width: 50%;
}

.contenedor_logo {
    display: flex;
    align-items: center;
}

.menu {
    width: 50px;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    display: none;
}

.logo {
    width: 72px;
    margin-left: 80px;
}

.nombre_taller {
    align-items:center;
    justify-content: center;
    display: flex;
}

.nombre_taller h1 {
    font-weight: bold;
    color: whitesmoke;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 30px;
    margin-top: 20px;
}

nav > ul > li {
    display: inline;
    margin-left: 5px;

}

nav > ul > li > a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
}
/* Fin Header */



/* Footer */
footer {
    height: auto;
    background-color: #197AD4;
}

footer > .logo {
    display: flex;
    width: auto;
    height: 100%;
    justify-content:flex-start;
    align-items: center;
}

footer > .logo img {
    width: 6%;
    object-fit: contain;
}

footer > .logo p:nth-child(2) {
    font-size: 25px;
    margin-right: 35%;
}

footer > .logo p:last-child {
    font-size: 25px;
}
/* Fin Footer *7



/* Index */
    /* Separadores */
    #contenido {
        width: 80%;
        margin: 10px auto;
        min-height: 100vh;
    }

    .productos {
        display: flex;
        flex-wrap: wrap;
    }
    
    .productos .producto {
        width: 100%;
        padding: 10px
    }
    
    .productos .izquierda {
        float: left;
        margin-right: 15px;
        height: 120px;
        object-fit: cover;   
    }

    .productos .producto .contenedor {           
        margin: auto;
        background-color: #197AD4;
        color: #0D2E4F;
        padding: 15px;     
    }
    /* Fin Separadores */

    /* Carrusel */
    .carousel .carousel-inner .carousel-item img {
        height: 600px;
        width: 80%;
        background-image: none;
        
    }
    
    .carousel .carousel-inner .carousel-item .carousel-caption {
        color: white;
    }
    /* Fin Carrusel */

    /* Solicitar */
    .solicitar {
        height: 100px;
        width: 100%;
        margin-top: 10px;
        padding: 1%;
        background-color: #197AD4;
        overflow: hidden;
    }

    .solicitar a {
        background-color: #333;
        color: white;
        text-align: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        font-size: 25px;
        padding-top: 2%;
    }

    .solicitar a:hover {
        background-color: white;
        color: #333;
    }
    /* Fin Solciitar */

    /* Submenus */
    .submenus {
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .sub-submenu {
        height: auto;
        width: 49.5%;
        padding: 1%;
        padding-bottom: .5%;
        background-color: #197AD4;
        display: inline-block;
    }

    .sub-submenu-mec {
        background-color: #333;
        height: 130px;
        width: 100%;
        margin-bottom: 1%;
        padding: 1%;
        overflow: hidden;
        padding-right: .5%;
    }

    .mec-img {
        height: 100%;
        width: 19%;
        display: inline-block;
        overflow: hidden;
    }

    .mec-img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .sub-texto {
        height: 100%;
        width: 59%;
        background-color: white;
        display: inline-block;
        padding: 1%;
        padding-top: 0;
        overflow: hidden;
        margin-right: .5%;
    }

    .boton {
        height: 100%;
        width: 19%;
        background-color: #197AD4;
        display: inline-block;
        overflow: hidden;
        
    }

    .boton a {
        text-align: center;
        color: white;
        height: 100%;
        width: 100%;
        display: inline-block;
        padding-top: 25%;
        font-size: 20px;
    }

    .boton a:hover {
        color: #333;
        background-color: white;
    }

    .sub-submenu-categ {
        background-color: #333;
        height: 130px;
        width: 100%;
        margin-bottom: 1%;
        padding: 1%;
        overflow: hidden;
    }

    .categ {
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: inline-block;
    }

    .categ a {
        text-align: center;
        color: white;
        height: 100%;
        width: 100%;
        display: inline-block;
        font-size: 35px;
        padding-top: 6%;
    }

    .categ a:hover {
        background-color: white;
        color: #333;
    }
    /* Fin Submenus */
/* Fin Index */



/* Galeria */
.galeria_atenciones{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones2{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones3{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}
.galeria_atenciones4{
    width: 90%;
    margin: 20px auto;
    background-color: #197AD4;
    color: whitesmoke;
    padding: 15px;
    font-size:larger;
}

.galeria_atenciones .izquierda2 {
    float: left;
    margin-right: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover;
}

.galeria_atenciones2 .derecha {
    float: right;
    margin-left: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover; 
}
.galeria_atenciones3 .izquierda3 {
    float: left;
    margin-right: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover;
}

.galeria_atenciones4 .derecha2 {
    float: right;
    margin-left: 15px;
    height: 150px;
    width: 220px;
    object-fit: cover; 
}
    /* Autos de la Galeria*/
    .mazda_auto{
        width: 100%;
        margin: 20px auto;
        background-color: #197AD4;
        color: whitesmoke;
        padding: 15px;
    }
    .mazda_auto .mazdatexto {
        float: left;
        margin-right: 15px;
        height: 70%;
        width: 60%;
        object-fit: cover;   
    }
    .chevrolet_auto {
        width: 100%;
        margin: 20px auto;
        background-color: #197AD4;
        color: whitesmoke;
        padding: 15px;
    }
    .chevrolet_auto .chevrolettexto {
        float: left;
        margin-right: 15px;
        height: 70%;
        width: 60%;
        object-fit: cover; 
    }
    .ford_auto{
        width: 100%;
        margin: 20px auto;
        background-color: #197AD4;
        color: whitesmoke;
        padding: 15px;
    }

    .ford_auto .fordtexto {
        float: left;
        margin-right: 15px;
        height: 70%;
        width: 60%;
        object-fit: cover; 
    }
    .raptor_auto {
        width: 100%;
        margin: 20px auto;
        background-color: #197AD4;
        color: whitesmoke;
        padding: 15px;
    }
    .raptor_auto .raptortexto {
        float: left;
        margin-right: 15px;
        height: 70%;
        width: 60%;
        object-fit: cover; 
    }   
    /*Fin autos de la Galeria*/
/* Fin Galeria */



/* Registrar */
.img_mecanico_reg {
    height: auto;
    width: 48%;
    top: 20%;
    left: 42%;
    position: absolute;
}

.img_mecanico_reg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contenedor_registrar {
    width: 30%;
    height: auto;
    background: #197AD4;
    color: white;
    top: 20%;
    left: 10%;
    position: absolute;
    padding: 70px 30px;
}

.contenedor_registrar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.contenedor_registrar h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 30px;
}

.contenedor_registrar label {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor_registrar input {
    width: 100%;
    margin-bottom: 3%;
    text-align: center;
}

.contenedor_registrar button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor_registrar input[type="text"],.contenedor_registrar input[type="password"]
,.contenedor_registrar button[type="button"],.contenedor_registrar input[type="email"],
.contenedor_registrar input[type="reset"] {
    border: none;
    border: 3px solid #013584;
    background: whitesmoke;
    outline: none;
    height: 30px;
    border-radius: 30px;
    
}
.contenedor_registrar input[type="text"]:focus,.contenedor_registrar input[type="password"]:focus
,.contenedor_registrar button[type="button"]:focus,.contenedor_registrar input[type="email"]:focus,
.contenedor_registrar input[type="reset"]:focus {
    border: 3px solid #08E3FF;
}


/* Fin Registrar */



/* Inicio Sesion */
.img_mecanico_inic {
    height: auto;
    width: 80%;
    top: 20%;
    left: 10%;
    position: absolute;
}
    
.img_mecanico_inic img {
    height: 94%;
    width: 63%;
    object-fit: cover;
}

.contenedor_iniciar_sesion {
    width: 30%;
    height: auto;
    background: #197AD4;
    color: white;
    top: 20%;
    left: 62%;
    position: absolute;
    padding: 70px 30px;
    box-sizing: border-box;
}

.contenedor_iniciar_sesion img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 5%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.contenedor_iniciar_sesion h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    text-align: center;
    font-size: 30px;
}

.contenedor_iniciar_sesion label {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor_iniciar_sesion input {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.contenedor_iniciar_sesion button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor_iniciar_sesion input[type="text"],.contenedor_iniciar_sesion input[type="password"],.contenedor_iniciar_sesion button[type="button"]
,.contenedor_iniciar_sesion input[type="reset"] {
    border: 3px solid #013584;
    background: whitesmoke;
    outline: none;
    height: 30px;
    border-radius: 30px;
}
.contenedor_iniciar_sesion input[type="text"]:focus,.contenedor_iniciar_sesion input[type="password"]:focus,.contenedor_iniciar_sesion button[type="button"]:focus
,.contenedor_iniciar_sesion input[type="reset"]:focus {
    border: 3px solid #08E3FF;
}
/* HEAD
Fin Inicio Sesion */



/* Inicio Buscador */
.titulo_buscador {
    text-align: center;
    font-weight: bold;
    padding: 1%;
    height: 8%;
    width: 100%;
    background-color: #197AD4;
    color: white;
}

.contenedor_buscador {
    background-color: #197AD4;
    height: 15%;
    width: 80%;
    margin-top: 4%;
    padding: 1%;
    position: absolute;
}

.sub_buscador {
    padding: 2%;
    width: 100%;
    height: 100%;
    background-color: white;
}

.sub_buscador label {
    font-size: 100%;
    color: #333;
    height: 5%;
    width: 15%;
    text-align: center;
    display: inline-block;
}

.sub_buscador input[type="text"] {
    width: 65%;
    background: whitesmoke;
    border: none;
    border-bottom: 1px #0D2E4F;
    outline: none;
}

.sub_buscador input[type="submit"] {
    height: 100%;
    width: 15%;
    overflow: hidden;
    text-align: center;
    background-color: #333;
    color: white;
}
/* Fin Buscador */



/* Categorias */
.titulo_categ {
    width: 100%;
    height: 10%;
    background-color: #197AD4;
    padding: 0%;
    margin: 0%;
}

.titulo_categ h2 {
    color: white;
    text-align: center;
    padding: 1%;
}

.contenedor_imagenes_categ{
    height: auto;
    width: 100%;
    background-color: #333;
    padding: .7%;
    padding-bottom: 0%;
    padding-right: 0%;
}

.contenedor_img_c {
    width: 19%;
    height: 100px;
    display: inline-block;
    background-color: white;
    margin-bottom: .7%;
    margin-right: .7%;
}

.contenedor_img_c img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* Fin Categorias */



/* Mecanicos */
.titulo_mec {
    width: 100%;
    height: 10%;
    background-color: #197AD4;
    padding: 0%;
    margin: 0%;
}

.titulo_mec h2 {
    color: white;
    text-align: center;
    padding: 1%;
}

.contenedor_imagenes_mec{
    height: auto;
    width: 100%;
    background-color: #333;
    padding: .7%;
    padding-bottom: 0%;
    padding-right: 0%;
}

.contenedor_img_m {
    width: 19%;
    height: 100px;
    display: inline-block;
    background-color: white;
    margin-bottom: .7%;
    margin-right: .7%;
}

.contenedor_img_m img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.boton_volver {
    width: 20%;
    height: 5%;
    padding: 0%;
    margin: 0%;
    overflow: hidden;
	background-color: #197AD4;
	margin-top: .5%;
}

.boton_volver a {
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
    display: inline-block;
    font-size: 20px;
}

.boton_volver a:hover {
    color: white;
    background-color: #333;
}

/* Fin Mecanicos */



/* Solicitud */
.solicitud {
    background-color: #197AD4;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 1%;
}

.solicitud h2 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 3%;
}

#form_solicitud label {
    color: white;
    width: 100%;
    text-align: center;
}

#form_solicitud input {
    width: 65%;
    margin-bottom: 2%;
    margin-left: 17%;
    text-align: center;
}

#form_solicitud input:last-child {
    margin-left: 35%;
    width: 30%;
}

#form_solicitud button {
    text-align: center;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 3%;
}
.solicitud input[type="text"], .solicitud input[type="email"], .solicitud button[type="button"]
, .solicitud input[type="reset"] {
    border: 3px solid #013584;
    background: whitesmoke;
    outline: none;
    height: 30px;
    border-radius: 30px;
}

.solicitud input[type="text"]:focus, .solicitud input[type="email"]:focus, .solicitud button[type="button"]:focus
, .solicitud input[type="reset"]:focus {
    border: 3px solid #08E3FF;
    
}


/*
.contenedor_iniciar_sesion h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 5%;
    text-align: center;
    font-size: 30px;
}

.contenedor_iniciar_sesion label {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contenedor_iniciar_sesion input {
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

.contenedor_iniciar_sesion button {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
}
.contenedor_iniciar_sesion input[type="text"],.contenedor_iniciar_sesion input[type="password"],.contenedor_iniciar_sesion button[type="button"]
,.contenedor_iniciar_sesion input[type="reset"] {
    border: 3px solid #013584;
    background: whitesmoke;
    outline: none;
    height: 30px;
    border-radius: 30px;
}
.contenedor_iniciar_sesion input[type="text"]:focus,.contenedor_iniciar_sesion input[type="password"]:focus,.contenedor_iniciar_sesion button[type="button"]:focus
,.contenedor_iniciar_sesion input[type="reset"]:focus {
    border: 3px solid #08E3FF;
}*/
/* Fin Solicitud */


/*MEDIA QUERIES*/

@media (max-width: 1024px) {

    .productos .producto {
        width: 100%;
        
    }

    .nombre_taller {
        display: none;
    }

    header {
        height: auto;
    }

    .contenedor_iniciar_sesion {
        width: 80%;
        left: 12%;
        top: 30%;
    }
    
    .img_mecanico_inic {
        width: 0%;
    }

    .contenedor_registrar {
        width: 80%;
        left: 12%;
        top: 30%;
    }

    .img_mecanico_reg {
        width: 0%;
    }

    .sub-submenu {
        width: 100%;
    }

        /* Carrusel */
    .carousel .carousel-inner .carousel-item img {
            height:  auto;
            max-height: 350px;
            min-height: 350px;
            width: 80%;
            background-image: none;
            
        }
        
    .carousel .carousel-inner .carousel-item .carousel-caption {
            color: white;
        }
        /* Fin Carrusel */


    .solicitud {
        width: 100%;
    }

    footer > .logo img {
        width: 10%;
        object-fit: contain;
    }
}

@media (max-width: 480px) {

    .productos .producto {
        width: 100%;
    }

    .nombre_taller {
        display: none;
    }

    header {
        flex-direction: column;
        height: auto;
        overflow: hidden;
    }

    header > div {
        width: 100%;
    }

    header .contenedor_logo {
        justify-content: center;
    }

    header .logo {
        margin-top: 10px;
    }

    .logo {
        margin-right: 70px;
    }

    nav {
        justify-content: center;
    }

    nav > ul {
        margin: 0;
    }

    nav > ul > li {
        display: block;
        padding: 1px;
        text-align: center;
    }

    .menu {
        display: block;
    }

    .contenedor_iniciar_sesion {
        width: 100%;
        left: 0%;
        margin-top: 20%;
        position: relative;
    }
    
    .img_mecanico_inic {
        width: 0%;
    }

    .contenedor_registrar {
        width: 100%;
        left: 0;
        margin-top: 20%;
        position: relative;
    }

    .img_mecanico_reg {
        width: 0%;
    }

    .sub-texto {
        width: 58%;
    }

    footer > .logo img {
        width: 25%;
        object-fit: contain;
    }

    .solicitar a {
        padding-top: 10%;
    }
            /* Carrusel */
            .carousel .carousel-inner .carousel-item img {
                height:  auto;
                
                min-height: 220px;
                width: 80%;
                background-image: none;
                
            }
            
            .carousel .carousel-inner .carousel-item .carousel-caption {
                color: white;
            }
            /* Fin Carrusel */
}

