{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="titulo_buscador">
                <h2>Buscador</h2>
            </div> 
            <div class="contenedor_buscador">
                <div class="sub_buscador">
                    <form>
                        <label for="buscador"><b>Buscar aqui :</b></label>
                        <input type="text" name="buscador" placeholder="Ingrese lo que desea buscar" required>
                        <input type="submit" name="" value="Buscar">
                    </form>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}