{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        {% for c in categoria %}
        <div id="contenido">
            <div class="titulo_categ">
                <h2>{{ c.nombre_cat }}</h2>
            </div>
            <div class="contenedor_imagenes_categ">
                {% for a in auto%}
                <div class="contenedor_img_c">
                        <a href="{% url 'auto' a.id %}"><img class = "derecha2" src="{{ a.img_auto.url }}" alt="autoamarillo"></a>
                </div>
                {% endfor %}
            </div>
            <div class="boton_volver">
                <a href="{% url 'index' %}">Volver</a>
            </div>
        </div>
        {% endfor %}
    </main>
    {% endblock %}    