{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="titulo_categ">
                <h2>Categoria 1</h2>
            </div>
            <div class="contenedor_imagenes_categ">
                <div class="contenedor_img_c">  
                    <a href="ford.html"><img src="{% static 'core/img/Ford-Mustang-verde-Need-for-Green.jpg' %}"></a>
                </div>
                <div class="contenedor_img_c">  
                    <a href="chevrolet.html"><img src="{% static 'core/img/ChevroletAzul.jfif' %}"></a>
                </div>
                <div class="contenedor_img_c">  
                    <a href="raptor.html"><img src="{% static 'core/img/FordRaptor.jpg' %}"></a>
                </div>
                <div class="contenedor_img_c">  
                    <a href="#"><img src="{% static 'core/img/autoamarillo.webp' %}"></a>
                </div>
                <div class="contenedor_img_c">  
                    <a href="mazda.html"><img src="{% static 'core/img/MazdaGT.jpg' %}"></a>
                </div>
                <div class="contenedor_img_c">  
                    <a href="#"><img src="{% static 'core/img/autoazul.jpg' %}"></a>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}
    