{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="chevrolet_auto">    
                <img class="chevrolettexto" src="{% static 'core/img/ChevroletAzul.jfif' %}" alt="chevrolet">
                <aside>
                    <h3>Chevrolet Captiva</h3>

                    </a>
                </aside>
                <aside>
                    <h4>Prepárate, te van a mirar
                        Si la Captiva Turbo ya te había acostumbrado a recibir cientos de miradas, espera a que conozcas
                        sus versiones AT. Sí, porque a toda la tecnología, seguridad y diseño, ahora sumamos versiones
                        con transmisión automática para que tengas nuevos motivos para subirte a una Captiva Turbo.
                        Prepárate para disfrutar la Captiva Turbo de siempre y también una nueva versión que va a
                        deslumbrar tus ojos y los de quienes te vean pasar.</h4>
                    <h4>
                        Las sofisticadas luces DRL LED le agregarán todo el estilo que tu viaje necesita.
                        UNA SENSACIÓN DE LIBERTAD
                        Diseñado también para ser mirado y disfrutado, su Sunroof transforma rápidamente un viaje común
                        en una postal y un estilo que no deja de avanzar
                        Un estilo que roba miradas, incluso en marcha lenta, con sus aros de aleación bitono de 17
                        pulgadas.
                    </h4>
                </aside>
            </div>
        </div>
    </main>
    {% endblock %}
