{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            {% for a in auto %}
            <div class="galeria_atenciones4">
                    {% if a.img_auto %}
                    <img class = "derecha2" src="{{ a.img_auto.url }}" alt="autoamarillo">
                    {% endif %}
                        <aside><h4>{{ a.modelo_auto }}</h4></aside>
                        <aside><h4>{{ a.patente_auto }}</h4></aside>

                    <aside><h4>{{ a.descripcion }}</h4></aside>
                
                <br>
            </div>
            {% endfor %}
            
        </div>
    </main>
    {% endblock %}