{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">    
            <div class="img_mecanico_inic">
                <img src="{% static 'core/img/mec.jpg' %}" alt="mecanico_inic">
            </div>  
            
            <div class="contenedor_iniciar_sesion">
                <img src="{% static 'core/img/avatar.jpg' %}" alt="avatar">
                <h2>Iniciar Sesion</h2>
                <form id="form_inicio"> 
                    <label for="usuario"><b>Nombre de Usuario</b></label>
                    <input type="text" name="usuario" placeholder="Ingrese usuario" id="usuario">
                    <br>
                    <label for="contrasenia"><b>Contrasenia</b></label>
                    <input type="password" name="contrasenia" placeholder="Ingrese contraseña" id="contra">
                    <br>
                    <button type="button" id="guardar">Iniciar Sesion</button>
                    <br>
                    <input type="reset" value="Limpiar">
                </form>
            </div>
            
        </div>
    </main>
    {% endblock %}
    