{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="mazda_auto">
                <img class="mazdatexto" src="{% static 'core/img/MazdaGT.jpg'%}" alt="mazda">
                <aside>
                    <h3>Mazda 3 2.5 GT SPORT</h3>

                    </a>
                </aside>
                <aside>
                    <h4>La semana pasada en Rutamotor estuvimos en la presentación y prueba de dinámica de la
                        actualización del Mazda3 (hatchback y sedán), el que integra leves cambios exteriores y algunas
                        mejoras interiores y en las tecnologías de seguridad. Ahora todos serán de origen japonés. Se
                        mantienen las configuraciones 1.6L, 2.0 y 2.5L Skyactiv. Los precios parten desde los desde los
                        CLP $10.690.000 para,el Mazda3 1.6L 5MT. Recordemos que esta generación integra por segunda vez
                        cambios, luego de su aterrizaje en Chile por 2014. Se fabrica en Hafu, Japón.</h4>
                    <h4>
                        Llega con actualizaciones en el exterior, interior e innovaciones tecnológicas, donde destaca el
                        nuevo sistema G-Vectoring Control (GVC) -en todas las versiones-, que proporciona un control
                        integrado del motor y el chasis a través de la dirección. El GVC es la primera de una serie de
                        nuevas tecnologías denominadas SKYACTIV-VEHICLE DYNAMICS, que profundizan la experiencia Jinba
                        Ittai o la conexión entre el conductor y su vehículo.
                    </h4>
                </aside>
            </div>
            <div class="boton_volver">
                <a href="{% url 'index' %}">Volver</a>
            </div>
        </div>
    </main>
    {% endblock %}
