{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="productos">
                <div class="producto">
                    <div class="contenedor">    
                        <img class = "izquierda" src="{% static 'core/img/mecanico1.jpg' %}" alt="mecanico">
                        <aside><h4>Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit.
                            Autem, reprehenderit harum aperiam
                            quos commodi officiis dolores repellat
                            possimus dicta, nisi iusto
                            qui atque magnam eveniet aut?
                            Cupiditate ad sapiente illum!</h4></aside><aside><h4>Lorem ipsum, dolor sit amet
                            consectetur adipisicing elit.
                            Autem, reprehenderit harum aperiam
                            quos commodi officiis dolores repellat
                            possimus dicta, nisi iusto
                            qui atque magnam eveniet aut?
                            Cupiditate ad sapiente illum!</h4></aside>
                    </div>
                </div>
            </div>
            <div class="titulo_mec">
                <h2>Trabajos realizados</h2>
            </div>
            <div class="contenedor_imagenes_mec">   
                <div class="contenedor_img_m">
                    <a href="{% url 'chevrolet' %}"><img src="{% static 'core/img/ChevroletAzul.jfif' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'ford' %}"><img src="{% static 'core/img/Ford-Mustang-verde-Need-for-Green.jpg' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'raptor' %}"><img src="{% static 'core/img/FordRaptor.jpg' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'mazda' %}"><img src="{% static 'core/img/MazdaGT.jpg' %}"></a>
                </div>
            </div>
            <div class="boton_volver">
                <a href="{% url 'index' %}">Volver</a>
            </div>
        <div>
    </main>
    {% endblock %}
   