{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        {% for m in mecanico %}
        <div id="contenido1">
            <div class="productos1">
                <div class="producto1">
                    <div class="contenedor1">
                        {% if m.img_mec %}
                            <img class = "img_mecanico" src="{{ m.img_mec.url }}" alt="mecanico">
                        {% endif %}
                        <div class="texto_mec">
                            <aside><h3>{{ m.nombre_mec }} {{ m.apellido_sol }}</h3></aside><aside><p>{{ m.descr_mec }}</p></aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="titulo_mec">
                <h2>Trabajos realizados</h2>
            </div>
            <div class="contenedor_imagenes_mec">
                {% for a in auto %}
                    {% if a.mecanico.id == m.id %}
                    <div class="contenedor_img_m">
                        <a href="{% url 'auto' a.id %}"><img class = "derecha2" src="{{ a.img_auto.url }}" alt="autoamarillo"></a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="boton_volver">
                <a href="{% url 'index' %}">Volver</a>
            </div>
        <div>
        {% endfor %}
    </main>
    {% endblock %}
   