{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        {% for m in mecanico %}
        <div id="contenido1">
            <div class="productos1">
                <div class="producto1">
                    <div class="contenedor1">
                        {% if m.img_mec %}
                        <img class = "izquierda" src="{{ m.img_mec.url }}" alt="mecanico">
                        {% endif %}
                        <aside><h4>{{ m.nombre_mec }} {{ m.apellido_sol }}</h4></aside><aside><h4>{{ m.descr_mec }}</h4></aside>
                        
                    </div>
                </div>
            </div>
            <div class="titulo_mec">
                <h2>Trabajos realizados</h2>
            </div>
            <div class="contenedor_imagenes_mec">   
                <div class="contenedor_img_m">
                    <a href="{% url 'chevrolet' %}"><img src="{% static 'core/img/ChevroletAzul.jfif' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'ford' %}"><img src="{% static 'core/img/Ford-Mustang-verde-Need-for-Green.jpg' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'raptor' %}"><img src="{% static 'core/img/FordRaptor.jpg' %}"></a>
                </div>
                <div class="contenedor_img_m">  
                    <a href="{% url 'mazda' %}"><img src="{% static 'core/img/MazdaGT.jpg' %}"></a>
                </div>
            </div>
            <div class="boton_volver">
                <a href="{% url 'index' %}">Volver</a>
            </div>
        <div>
        {% endfor %}
    </main>
    {% endblock %}
   