{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">
            <div class="raptor_auto">   
                <img class="raptortexto" src="{% static 'core/img/FordRaptor.jpg' %}" alt="RAPTOR">
                <aside>
                    <h3>Ford RANGER Raptor </h3>

                    </a>
                </aside>
                <aside>
                    <h4>Menos corpulenta que la F-150 Raptor, pero no menos feroz. Así es la nueva Ford Ranger Raptor,
                        que sigue la exitosa fórmula planteada por su hermana mayor para convertirse en una pick-up de
                        altas prestaciones que no le tiene miedo al asfalto, la arena, el lodo o la nieve. Única en el
                        segmento de las "trocas" medianas.</h4>
                    <h4>
                        Los parachoques son elevados y están pensados para disimular arañazos, mientras que los estribos
                        fueron colocados para facilitar el acceso sin riesgo de ser golpeados por alguna roca. La altura
                        respecto al piso queda en 28.3 cm y sus ángulos son de 32.5º de ataque, 24º de salida y también
                        24º de inclinación. A lo largo, la Ford Ranger Raptor mide 5,398 mm.
                    </h4>
                </aside>
            </div>
        </div>
    </main>
    {% endblock %}