{% extends 'core/base.html' %}
{% load static %}
{% block titulo %}
<title>Taller Rayo Mcqueen</title>
{% endblock %}

    {% block content %}
    <main>
        <div id="contenido">    
            <div class="contenedor_registrar">
                <img src="{% static 'core/img/avatar.jpg' %}" alt="avatar">
                <h2>Registrarse</h2>
                <form id="form_registro">
                    <label for="usuario2"><b>Nombre de Usuario</b></label>
                    <input type="text" name="usuario2" placeholder="Ingrese usuario" id="usuario2" required>
                    <br>
                    <label for="email"><b>Mail</b></label>
                    <input type="email" name="email" placeholder="Ingrese  mail" id="email">
                    <br>
                    <label for="password"><b>Contrasenia</b></label>            
                    <input type="password" name="password" placeholder="Ingrese contrasenia" id="password" >
                    <br>
                    <button type="button" id="guardar2">Registrarte</button>
                    <br>
                    <input type="reset" value="Limpiar">
                </form>
            </div>
            <div class="{% static 'core/img_mecanico_reg' %}">
                <img src="{% static 'core/img/mec.jpg' %}" alt="mecanico_inic">
            </div>
        </div>
    </main> 
    {% endblock %}